@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --green-dark: #015f43;
  --green: #00875f;
  --green-light: #00b37e;
  
  --red-dark: #7a1921;
  --red: #f03847;

  --gray1: #121214;
  --gray2: #202024;
  --gray3: #323238;
  --gray4: #7c7c8a;
  --gray5: #8d8d99;
  --gray6: #c4c4cc;
  --gray7: #e1e1e6;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scrollbar-color: green;
}


body, input, textarea, button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Remove arrow do input do tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* https://stackoverflow.com/questions/17758578/how-to-remove-the-arrows-in-a-scroll-bar-through-css */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 100px;
  background: #505059; 
}

h1, p {
  color: var(--gray7)
}

.active > svg{
  color: var(--green)
}